.status--highlight {
  border-left-style: solid;
  @include theme($purple-4, $grey-1, $purple-1, $grey-2, $purple-3);
  margin-bottom: $base-spacing-unit-small;
  padding: $base-spacing-unit-small;
  border-left-width: $base-spacing-unit-tiny;
  :last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
	h2 {
		@include fontsize(22);
	}
	ol {
		margin-bottom: $base-spacing-unit-medium;
		padding-top: $base-spacing-unit-medium;
		padding-bottom: $base-spacing-unit-medium;
		padding-left: $base-spacing-unit-large;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: inherit; 
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: inherit;
		li > ul,
		li > ol {
			margin-top: $base-spacing-unit-tiny;
			margin-bottom: $base-spacing-unit-tiny;
			padding-top: $base-spacing-unit-tiny;
			padding-bottom: $base-spacing-unit-tiny;	
			border-top-style: dashed;
			border-top-width: 1px;
			border-top-color: $grey-3; 
			border-bottom-style: dashed;
			border-bottom-width: 1px;
			border-bottom-color: $grey-3;
		}
	}
}

.theme--purple--light {
  @include theme($purple-4, $grey-1, $purple-1, $grey-2, $purple-3);
}

.theme--success {
  @include theme($success--light, $grey-1, $purple-1, $grey-2, $success);
}

.theme--warning {
  @include theme($warning--light, $grey-1, $purple-1, $grey-2, $warning);
}
